<div class="container">
  <div class="row">
    <h4>Routes:</h4>
    <div class="col-xs-1" ng-repeat="route in vm.routes">
      <div class="row">
        <div class="checkbox">
          <label class="col-xs-2">
            <input
              ng-model="vm.selectedRoute.active[route.tag]"
              ng-true-value="'{{route.tag}}'"
              ng-false-value="''"
              type="checkbox" /> {{route.tag}}
          </label>
        </div>
      </div>
    </div>

    <div class="col-xs-11">
      <map routes="vm.routes" selected-routes="vm.selectedRoute.active"></map>
    </div>
  </div>
</div>
