.map {
  height: 800px;
  width: 800px;
  position: relative;

  .map-overlay {
    background: #DDD;
    position: absolute;
    top: 0px;
    opacity: 0.5;
    left: 0px;
    height: 100%;
    width: 100%;
  }

  .loading {
    position: absolute;
    top: 336px;
    left: 336px;
    height: 128px;
    width: 128px;
  }
}
