<div class="col-xs-16">
  <h4>Map of SF with muni vehicles. Refreshing every 15 secs.</span></h4>
  <div id="map" class="map">
    <div ng-show="vm.isRefreshing" class="map-overlay">
      <img src="../../content/loading_icon.gif" class="loading" />
    </div>
  </div>
</div>
